<h1>CRM система</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="contact">Контакти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="client">Клієнти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="company">Компанії</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lead">Ліди</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="opportunity">Продажі</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="activity">Маркетингові заходи</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="report">Звітність</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="activity-client">Активності</a>
    </li>
  </ul>
<router-outlet></router-outlet>